In [1]:
'''
@Author: Rashmi
@Date: 2021-11-17 1:33
@Last Modified by: Rashmi
@Last Modified time: 2021-11-17 1:41
@Title :To perform Basic SQL queries dataframes,taking the csv file from hdfs  
'''
from pyspark.sql import *
from pyspark.sql import functions as func
spark = SparkSession.builder.getOrCreate()

In [2]:
'''To read the csv file from hdfs and show() to get first 3 rows'''
df = spark.read.csv("hdfs://localhost:9000/csvspark/titanic.csv",header=True)
df.show(3)

+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked|class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|Third|  man|      True|null|Southampton|   no|False|
|       1|     1|female|38.0|    1|    0|71.2833|       C|First|woman|     False|   C|  Cherbourg|  yes|False|
|       1|     3|female|26.0|    0|    0|  7.925|       S|Third|woman|     False|null|Southampton|  yes| True|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
only showing top 3 rows

In [4]:
'''To get the schema'''
df.printSchema()

root
 |-- survived: string (nullable = true)
 |-- pclass: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- sibsp: string (nullable = true)
 |-- parch: string (nullable = true)
 |-- fare: string (nullable = true)
 |-- embarked: string (nullable = true)
 |-- class: string (nullable = true)
 |-- who: string (nullable = true)
 |-- adult_male: string (nullable = true)
 |-- deck: string (nullable = true)
 |-- embark_town: string (nullable = true)
 |-- alive: string (nullable = true)
 |-- alone: string (nullable = true)

In [5]:
df.describe()

DataFrame[summary: string, survived: string, pclass: string, sex: string, age: string, sibsp: string, parch: string, fare: string, embarked: string, class: string, who: string, adult_male: string, deck: string, embark_town: string, alive: string, alone: string]

In [6]:
'''To get the columns'''
df.columns

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [7]:
'''To get the statistics '''
df.describe().show()

+-------+-------------------+------------------+------+------------------+------------------+-------------------+-----------------+--------+-----+-----+----------+----+-----------+-----+-----+
|summary|           survived|            pclass|   sex|               age|             sibsp|              parch|             fare|embarked|class|  who|adult_male|deck|embark_town|alive|alone|
+-------+-------------------+------------------+------+------------------+------------------+-------------------+-----------------+--------+-----+-----+----------+----+-----------+-----+-----+
|  count|                891|               891|   891|               714|               891|                891|              891|     889|  891|  891|       891| 203|        889|  891|  891|
|   mean| 0.3838383838383838| 2.308641975308642|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824| 32.2042079685746|    null| null| null|      null|null|       null| null| null|
| stddev|0.48659245426485753|0.8360712409770491|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|49.69342859718089|    null| null| null|      null|null|       null| null| null|
|    min|                  0|                 1|female|              0.42|                 0|                  0|              0.0|       C|First|child|     False|   A|  Cherbourg|   no|False|
|    max|                  1|                 3|  male|               9.0|                 8|                  6|             93.5|       S|Third|woman|      True|   G|Southampton|  yes| True|
+-------+-------------------+------------------+------+------------------+------------------+-------------------+-----------------+--------+-----+-----+----------+----+-----------+-----+-----+

In [8]:
'''use of head to get first row'''
df.head()

Row(survived='0', pclass='3', sex='male', age='22.0', sibsp='1', parch='0', fare='7.25', embarked='S', class='Third', who='man', adult_male='True', deck=None, embark_town='Southampton', alive='no', alone='False')

In [9]:
'''using head() to get first 5 rows'''
df.head(5)

[Row(survived='0', pclass='3', sex='male', age='22.0', sibsp='1', parch='0', fare='7.25', embarked='S', class='Third', who='man', adult_male='True', deck=None, embark_town='Southampton', alive='no', alone='False'),
 Row(survived='1', pclass='1', sex='female', age='38.0', sibsp='1', parch='0', fare='71.2833', embarked='C', class='First', who='woman', adult_male='False', deck='C', embark_town='Cherbourg', alive='yes', alone='False'),
 Row(survived='1', pclass='3', sex='female', age='26.0', sibsp='0', parch='0', fare='7.925', embarked='S', class='Third', who='woman', adult_male='False', deck=None, embark_town='Southampton', alive='yes', alone='True'),
 Row(survived='1', pclass='1', sex='female', age='35.0', sibsp='1', parch='0', fare='53.1', embarked='S', class='First', who='woman', adult_male='False', deck='C', embark_town='Southampton', alive='yes', alone='False'),
 Row(survived='0', pclass='3', sex='male', age='35.0', sibsp='0', parch='0', fare='8.05', embarked='S', class='Third', who='man', adult_male='True', deck=None, embark_town='Southampton', alive='no', alone='True')]

In [5]:
'''create new column with values of fare column'''
df.withColumn('New Fare',df['fare']).show(2)

+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+--------+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked|class|  who|adult_male|deck|embark_town|alive|alone|New Fare|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+--------+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|Third|  man|      True|null|Southampton|   no|False|    7.25|
|       1|     1|female|38.0|    1|    0|71.2833|       C|First|woman|     False|   C|  Cherbourg|  yes|False| 71.2833|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+--------+
only showing top 2 rows

In [6]:
'''To rename the column fare with Fare_changed'''
df.withColumnRenamed('fare','Fare_changed').show()

+--------+------+------+----+-----+-----+------------+--------+------+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|Fare_changed|embarked| class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+------------+--------+------+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|        7.25|       S| Third|  man|      True|null|Southampton|   no|False|
|       1|     1|female|38.0|    1|    0|     71.2833|       C| First|woman|     False|   C|  Cherbourg|  yes|False|
|       1|     3|female|26.0|    0|    0|       7.925|       S| Third|woman|     False|null|Southampton|  yes| True|
|       1|     1|female|35.0|    1|    0|        53.1|       S| First|woman|     False|   C|Southampton|  yes|False|
|       0|     3|  male|35.0|    0|    0|        8.05|       S| Third|  man|      True|null|Southampton|   no| True|
|       0|     3|  male|null|    0|    0|      8.4583|       Q| Third|  man|      True|null| Queenstown|   no| True|
|       0|     1|  male|54.0|    0|    0|     51.8625|       S| First|  man|      True|   E|Southampton|   no| True|
|       0|     3|  male| 2.0|    3|    1|      21.075|       S| Third|child|     False|null|Southampton|   no|False|
|       1|     3|female|27.0|    0|    2|     11.1333|       S| Third|woman|     False|null|Southampton|  yes|False|
|       1|     2|female|14.0|    1|    0|     30.0708|       C|Second|child|     False|null|  Cherbourg|  yes|False|
|       1|     3|female| 4.0|    1|    1|        16.7|       S| Third|child|     False|   G|Southampton|  yes|False|
|       1|     1|female|58.0|    0|    0|       26.55|       S| First|woman|     False|   C|Southampton|  yes| True|
|       0|     3|  male|20.0|    0|    0|        8.05|       S| Third|  man|      True|null|Southampton|   no| True|
|       0|     3|  male|39.0|    1|    5|      31.275|       S| Third|  man|      True|null|Southampton|   no|False|
|       0|     3|female|14.0|    0|    0|      7.8542|       S| Third|child|     False|null|Southampton|   no| True|
|       1|     2|female|55.0|    0|    0|        16.0|       S|Second|woman|     False|null|Southampton|  yes| True|
|       0|     3|  male| 2.0|    4|    1|      29.125|       Q| Third|child|     False|null| Queenstown|   no|False|
|       1|     2|  male|null|    0|    0|        13.0|       S|Second|  man|      True|null|Southampton|  yes| True|
|       0|     3|female|31.0|    1|    0|        18.0|       S| Third|woman|     False|null|Southampton|   no|False|
|       1|     3|female|null|    0|    0|       7.225|       C| Third|woman|     False|null|  Cherbourg|  yes| True|
+--------+------+------+----+-----+-----+------------+--------+------+-----+----------+----+-----------+-----+-----+
only showing top 20 rows

In [7]:
df.select("age","class","who").show()

+----+------+-----+
| age| class|  who|
+----+------+-----+
|22.0| Third|  man|
|38.0| First|woman|
|26.0| Third|woman|
|35.0| First|woman|
|35.0| Third|  man|
|null| Third|  man|
|54.0| First|  man|
| 2.0| Third|child|
|27.0| Third|woman|
|14.0|Second|child|
| 4.0| Third|child|
|58.0| First|woman|
|20.0| Third|  man|
|39.0| Third|  man|
|14.0| Third|child|
|55.0|Second|woman|
| 2.0| Third|child|
|null|Second|  man|
|31.0| Third|woman|
|null| Third|woman|
+----+------+-----+
only showing top 20 rows

In [8]:
'''get the count, grouped by age '''
df.groupBy("Age").count().show()

+----+-----+
| Age|count|
+----+-----+
| 1.0|    7|
|20.5|    1|
|0.75|    2|
|50.0|   10|
|22.0|   27|
|65.0|    3|
|38.0|   11|
|66.0|    1|
|20.0|   15|
|15.0|    5|
|45.0|   12|
|24.5|    1|
|47.0|    9|
|70.5|    1|
|44.0|    9|
|63.0|    2|
|25.0|   23|
|30.5|    2|
|26.0|   18|
|null|  177|
+----+-----+
only showing top 20 rows

In [10]:
'''To create the table named as Table'''
df.createOrReplaceTempView("Table")

In [11]:
'''To select columns from Table'''
df_sql = spark.sql("select survived,pclass,sex,age from Table")
df_sql.show()

+--------+------+------+----+
|survived|pclass|   sex| age|
+--------+------+------+----+
|       0|     3|  male|22.0|
|       1|     1|female|38.0|
|       1|     3|female|26.0|
|       1|     1|female|35.0|
|       0|     3|  male|35.0|
|       0|     3|  male|null|
|       0|     1|  male|54.0|
|       0|     3|  male| 2.0|
|       1|     3|female|27.0|
|       1|     2|female|14.0|
|       1|     3|female| 4.0|
|       1|     1|female|58.0|
|       0|     3|  male|20.0|
|       0|     3|  male|39.0|
|       0|     3|female|14.0|
|       1|     2|female|55.0|
|       0|     3|  male| 2.0|
|       1|     2|  male|null|
|       0|     3|female|31.0|
|       1|     3|female|null|
+--------+------+------+----+
only showing top 20 rows

In [13]:
'''To select columns from table where age is greater than 14'''
df_sql = spark.sql("select pclass,age,sex from Table where age > 14")
df_sql.show()

+------+----+------+
|pclass| age|   sex|
+------+----+------+
|     3|22.0|  male|
|     1|38.0|female|
|     3|26.0|female|
|     1|35.0|female|
|     3|35.0|  male|
|     1|54.0|  male|
|     3|27.0|female|
|     1|58.0|female|
|     3|20.0|  male|
|     3|39.0|  male|
|     2|55.0|female|
|     3|31.0|female|
|     2|35.0|  male|
|     2|34.0|  male|
|     3|15.0|female|
|     1|28.0|  male|
|     3|38.0|female|
|     1|19.0|  male|
|     1|40.0|  male|
|     2|66.0|  male|
+------+----+------+
only showing top 20 rows