In [16]:

import findspark
findspark.init()
from pyspark.sql import SparkSession,types
from pyspark.sql.functions import *
spark = SparkSession.builder.getOrCreate()

In [4]:
'''To read from json file from hdfs'''
df = spark.read.json("hdfs://localhost:9000/jsonread/readexample.json",multiLine=True)
df.printSchema()

root
 |-- City: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

In [5]:
df.show()

+-------------------+------------+-----+-----------+-------+
|               City|RecordNumber|State|ZipCodeType|Zipcode|
+-------------------+------------+-----+-----------+-------+
|PASEO COSTA DEL SUR|           2|   PR|   STANDARD|    704|
|       BDA SAN LUIS|          10|   PR|   STANDARD|    709|
+-------------------+------------+-----+-----------+-------+

In [7]:
'''To write to the json file in hdfs'''
df.write.json("hdfs://localhost:9000/jsonread/writeto.json")

In [8]:
'''to read csv file from hdfs'''
df1 = spark.read.csv("hdfs://localhost:9000/csvspark/titanic.csv",header=True)
df1.show(5)

+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked|class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|Third|  man|      True|null|Southampton|   no|False|
|       1|     1|female|38.0|    1|    0|71.2833|       C|First|woman|     False|   C|  Cherbourg|  yes|False|
|       1|     3|female|26.0|    0|    0|  7.925|       S|Third|woman|     False|null|Southampton|  yes| True|
|       1|     1|female|35.0|    1|    0|   53.1|       S|First|woman|     False|   C|Southampton|  yes|False|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|Third|  man|      True|null|Southampton|   no| True|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
only showing top 5 rows

In [10]:
'''Write to csv file in hdfs'''
df1.write.option("header","true")\
.csv("hdfs://localhost:9000/jsonread/writeto.csv")

In [15]:
# '''To create dataframe from that write to parquet file in hdfs and 
# from that read the parquet file data from hdfs'''
# # import pandas as pd
# data =[("Hary ","","mehak","M","3000"),
#               ("Michael ","vanith","","M","4000"),
#               ("Rithika ","","devi","F","4000"),
#               ("Maria ","Anne","Jones","F","4000"),
#               ("Jen","Mary","Brown","","F","12000")]
# columns=["firstname","middlename","lastname","gender","salary"]
# df_parquet=spark.createDataFrame(data,columns)

In [ ]:
# df_parquet.write.parquet("hdfs://localhost:9000/jsonread/writeto.parquet")

In [20]:
import findspark
findspark.init()
from pyspark.sql import SparkSession,types
from pyspark.sql.functions import *
spark = SparkSession.builder.getOrCreate()

'''To read the csv file from hdfs and convert to parquet file'''

dataframe_csv = spark.read.csv("hdfs://localhost:9000/csvspark/titanic.csv",header=True)

In [22]:
dataframe_csv.write.parquet("hdfs://localhost:9000/jsonread/writeto.parquet")

In [23]:
'''To read the parquet file from hdfs'''
parquetread = spark.read.parquet("hdfs://localhost:9000/jsonread/writeto.parquet")
parquetread.show(5)

+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|survived|pclass|   sex| age|sibsp|parch|   fare|embarked|class|  who|adult_male|deck|embark_town|alive|alone|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
|       0|     3|  male|22.0|    1|    0|   7.25|       S|Third|  man|      True|null|Southampton|   no|False|
|       1|     1|female|38.0|    1|    0|71.2833|       C|First|woman|     False|   C|  Cherbourg|  yes|False|
|       1|     3|female|26.0|    0|    0|  7.925|       S|Third|woman|     False|null|Southampton|  yes| True|
|       1|     1|female|35.0|    1|    0|   53.1|       S|First|woman|     False|   C|Southampton|  yes|False|
|       0|     3|  male|35.0|    0|    0|   8.05|       S|Third|  man|      True|null|Southampton|   no| True|
+--------+------+------+----+-----+-----+-------+--------+-----+-----+----------+----+-----------+-----+-----+
only showing top 5 rows

In [1]:
# '''To convert to avro file,read the data from csv and convert to avro'''

# dataframe_csv.write.format("avro").save("hdfs://localhost:9000/jsonread/writeto.avro")